<table class="col-start-3 col-span-3 w-full">
  <% for(var i=0; i < appointments.length; i++) { %>
      
        <tr >
            <td width="5%" class="flex-auto py-4">
                <%= i+1%>.
            </td>
            <td width="40%" class="py-4 flex-none">
                <p class="ml-2 text-xl text-black-600"><%= appointments[i].title %></p>
            </td>
            <td width="25%" class="py-4 flex-none">
              <p class="ml-2 text-xl text-black-600"><%= organizerNames[i] %></p>
            </td>
            <td width="25%" class="py-4 flex-none">
              <p class="ml-2 text-xl text-black-600"><%= appointments[i].date %> <%= appointments[i].start.slice(0,5) %> - <%= appointments[i].end.slice(0,5) %></p>
            </td>
            <td>
                <a href="/appointment/edit/<%= appointments[i].id %>" class="ml-2 cursor-pointer">
                    <!-- SVG Code for Edit icon -->
                </a>
            </td>
            <td>
                <a href="#" class="ml-2 cursor-pointer" onclick="deleteAppointment(<%= appointments[i].id %>)">
                    <!-- SVG Code for Delete icon -->
                </a>
            </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="5">
            <%= appointments[i].description %>
          </td>
          <td>
            <a href="https://meet.jit.si/174820-172983-84820-<%= appointments[i].id %>" target="_blank">Meet Link</a>
          </td>
        </tr>
  <% } %>
</table>
