<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content= "<%= csrfToken %>">
    <link href="/css/styles.css" rel="stylesheet" />
    <title>Appointment Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      function copy(text) {
        navigator.clipboard.writeText(text);
      }
    </script>
</head>
<body>
    <%- include('header.ejs', {user: "admin"}) %>
    <div class="grid grid-cols-7">
        <div class="col-start-3 col-span-3">
          <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                    <p class="flash-error"> <%= messages.error[i] %></p>
            <% } %>
          <% } %>
          <% if(messages && messages.success && messages.success.length > 0)  { %>
            <% for(var i=0; i<messages.success.length; i++) { %>
                    <p class="flash-success"> <%= messages.success[i] %></p>
            <% } %>
          <% } %>
          <h2 class="centerElement text-xl py-2">Welcome <%= name %></h2>
          <h3 class="text-lg py-2 centerElement">Share your ID: <span class="text-green-600"><%= organizerId %></span> or this URL with others to book appointments with you: <a class="text-green-600" id="url" href="/appointment/<%= organizerId %>"><%= host %>/appointment/<%= organizerId %></a>&nbsp&nbsp
            <button onclick="copy('<%= host %>/appointment/<%= organizerId %>')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline"> 
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                </svg>
            </button>
          </h3>
          <h2 class="centerElement text-2xl py-2 bg-green-600 text-white">Upcoming Appointments</h2>
          <table class="col-start-3 col-span-3 w-full">
            <% for(var i=0; i < upcoming.length; i++) { %>
                <tr>
                    <td width="5%" class="flex-auto py-4">
                        <%= i+1%>.
                    </td>
                    <td width="40%" class="py-4 flex-none">
                        <p class="ml-2 text-xl text-black-600 cursor-pointer"><%= upcoming[i].title %></p>
                    </td>
                    <td width="25%" class="py-4 flex-none">
                      <p class="ml-2 text-xl text-black-600 cursor-pointer"><%= guestNames1[i] %></p>
                    </td>
                    <td width="20%" class="py-4 flex-none">
                      <p class="ml-2 text-xl text-black-600 cursor-pointer"><%= upcoming[i].date %> <%= upcoming[i].start.slice(0,5) %> - <%= upcoming[i].end.slice(0,5) %></p>
                    </td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="3">
                    <%= upcoming[i].description %>
                  </td>
                  <td>
                    <a href="https://meet.jit.si/174820-172983-84820-<%= organizerId %>" target="_blank">Meet Link</a>
                  </td>
                </tr>
            <% } %>
          </table>

          <h2 class="centerElement text-2xl py-2 mt-5 bg-red-600 text-white">Past Appointments</h2>
          <table class="col-start-3 col-span-3 w-full">
            <% for(var i=0; i < completed.length; i++) { %>
                <tr>
                    <td width="5%" class="flex-auto py-4">
                        <%= i+1%>.
                    </td>
                    <td width="40%" class="py-4 flex-none">
                        <p class="ml-2 text-xl text-black-600 cursor-pointer"><%= completed[i].title %></p>
                    </td>
                    <td width="25%" class="py-4 flex-none">
                      <p class="ml-2 text-xl text-black-600 cursor-pointer"><%= guestNames2[i] %></p>
                    </td>
                    <td width="20%" class="py-4 flex-none">
                      <p class="ml-2 text-xl text-black-600 cursor-pointer"><%= completed[i].date %> <%= completed[i].start.slice(0,5) %> - <%= completed[i].end.slice(0,5) %></p>
                    </td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="3">
                    <%= completed[i].description %>
                  </td>
                </tr>
            <% } %>
          </table>
        </div>
    </div>
</body>
</html>